@using CalendarNotes.Common.Models
@model List<UserNote>

@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    if (Model != null && Model.Any())
    {
        <div class="row">
            <div class="col-md-12">
                <h2>User Notes for @ViewBag.UserName</h2>
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Note</th>
                    </tr>
                    @foreach (var userNote in Model)
                    {
                        <tr>
                            <td>@userNote.Date</td>
                            <td>@userNote.Note</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    else
    { 
        <p>There isn't any note for @ViewBag.UserName</p>
    }

    <form asp-controller="UserNote" asp-action="Index" method="Get" class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Add Note</button>
            </div>
        </div>
    </form>
}
else
{
    <div class="row">
        <div class="col-md-12">
            You can login to save your calender notes.
        </div>
    </div>
}


